/* 
Comment 
*/

h1{
    font-family: 'Agency FB';
    font-size: 36pt;
}

.myfont{
    font-family: 'Times New Roman', Times, serif;
}
.coPurple{
    color: purple;
}

.h1{
    font-size: 12pt;
}

#myP{
    font-size: 48pt;
}

.box{
    width: 400px;
    height: 400px;
    color: rgba(255, 255, 255);
    background-color: rgb(88, 90, 88);
    text-align: center;
    border: 5px dashed rgb(0, 255, 0);
    padding-top: 10px;
    margin: 50px 25px;
}

.box:hover{
    background-color: rgb(117, 89, 126);
}

.a{
    color: #ff0000;
}

.a:link{
    color: #00a2ff;
}